html, body { margin: 0; font-family: Arial; height: 100%; }

.notice-bar {
  color: #fff;
  background-color: #0092C9;
  text-align: center;
  display: flex;
}
.notice-bar:not(:last-child) {
  border-bottom: 1px solid white;
}
.info { background-color: #31b0d5; }
.warn { background-color: #ec971f; }
.error { background-color: red; }
.message:first-line { font-weight:bold; }
.message { flex-grow: 1; }
.buttons { white-space: nowrap; vertical-align: text-center; display: flex; }
.table-list { display: table; margin: auto; text-align: left; }
